  {% extends "layout.html" %}
  {% block content %}
<h1>STAY HOME.SAVE LIVES.</h1>
<h2>Help stop coronavirus</h2>

<h2>Common symptoms:</h2>
<h2>
<ol>
  <li>STAY home</li>
  <li>KEEP a safe distance</li>
  <li>WASH hands often</li>
  <li>COVER your cough</li>
  <li>SICK? Call the helpline</li>
</ol> 
</h2>
<h2>To prevent the spread of COVID-19:</h2>

<ul>
  <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
  <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
  <li>Don’t touch your eyes, nose or mouth.</li>
  <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
  <li>Stay home if you feel unwell.</li>
  <li>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.</li>
  <li>Follow the directions of your local health authority.</li>
</ul> 

<p>Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, 
therefore protecting you and others.</p>
  {% endblock content %} 