  {% extends "layout.html" %}
  {% block content %}
	  <h1>COVID-19 affects different people in different ways.</h1>
<h2>Most infected people will develop mild to moderate symptoms.</h2>

<h2>Common symptoms:</h2>

<ul>
  <li>fever.</li>
  <li>tiredness.</li>
  <li>dry cough</li>
</ul> 

<h2>Some people may experience:</h2>

<ul>
  <li>aches and pains.</li>
  <li>nasal congestion.</li>
  <li>runny nose.</li>
  <li>sore throat.</li>
  <li>diarrhoea.</li>
</ul> 

<p>On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.
People with mild symptoms who are otherwise healthy should self-isolate. Seek medical attention if you have a fever, a cough, and difficulty breathing. 
Call ahead.</p>
  {% endblock content %} 



